// footer
.footer{
    grid-area: footer;
    background: linear-gradient(to right, #b6b6b6, #f2f2f2, #dbdbdb, #eaeaea);
    line-height: 1;
    width: 100%;
    .footer__div{
        width: 550px;
        .footer__div__container{
            margin: 0 60px;
            @include display(flex,center ,space-around, none);
            a{
                img{
                    height: 35px;
                    &:hover{
                        box-sizing: border-box;
                        border: 5px solid nth($color, 5);
                        box-shadow: 3px 3px nth($color, 4);
                    }
                }
            }
            @media screen and (max-width: $mobile){
                margin: 5%;
            }
        }
        .footer__div__links{
            @include display(flex,center ,space-around, none);
            margin: 5% 20px;
            .footer__div__links__a{
                color: nth($color, 1);
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-decoration: none;
                &:hover{
                    color: nth($color, 5);
                    text-shadow: 1px 1px nth($color, 4);
                }
            }
            @media screen and (max-width: $mobile){
                display: none;
            }
        }
        div{
            p{
                color: nth($color, 1);
                letter-spacing: 2px;
            }
        }
        @media screen and (max-width: $mobile-s) {
            width: 250px;
        }
        @media screen and (min-width: $mobile-s) and (max-width: $mobile) {
            width: 300px;
        }
        @media screen and (min-width: $mobile) and (max-width: $tablet) {
            width: 500px;
        }
    }
}