@font-face {
    font-family: 'Bebas Neue';
    src: url(../src/fonts/BebasNeue-Regular.ttf);
    font-display: swap;
}
@font-face {
    font-family: 'M PLUS 1 Code';
    src: url(../src/fonts/MPLUS1Code-VariableFont_wght.ttf);
    font-display: swap;
}
