// button
$btn:(
    bg-btn:#F13639,
    border: none,
    f-size: 25px,
    f-family: 'Bebas Neue',
    letter-spac: 3px,
    word-spac: 3px,
    padding: 10px 25px,
    box-shadow: 0px 0px 15px #F13639,
    box-shadow-hover: 0px 0px 20px #F13639,
    f-size-hover: 26px,
    f-size-mobile-s: 15px,
);